torch==2.9.0+cpu
torchaudio==2.9.0+cpu
torchvision==0.24.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
datasets
speechbrain
librosa
soundfile
scipy
numpy
pandas
matplotlib
requests
tqdm
pyyaml
